/* Estilo geral da página (fundo e textos) */
body {
    background-color: #1a1a1a; /* Fundo escuro igual ao do seu print */
    color: #ffffff;            /* Cor do texto geral em branco */
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}

/* Estilo do título principal */
h1 {
    color: #04d361; /* Verde chamativo */
    font-size: 2.5rem;
}

/* Estilo do parágrafo */
p {
    color: #9b51e0; /* Roxo bonito */
    font-size: 1.2rem;
    margin-bottom: 30px;
}

/* Configurações comuns para TODOS os botões */
button {
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s; /* Deixa a mudança de cor suave */
}

/* Estilo específico do Botão Verde */
.btn-verde {
    padding: 10px 20px;
    background-color: #04d361;
    color: #1a1a1a; /* Texto escuro para contrastar */
}

/* Estilo específico do Botão Azul */
.btn-azul {
    padding: 20px 20px;
    background-color: #2604d3;
    color: rgb(191, 255, 0); /* Aquele verde limão que você usou */
    margin-top: 50px;
}