<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!-- Ícone da aba do navegador (Favicon) -->
    <link rel="icon" type="image/jpeg" href="{{ url_for('static', filename='favicon.png.jpeg') }}?v=3">

    <!-- O restante das suas tags head continua aqui -->

    <title>Baixar Programas e Jogos de Xbox 360 e PC - Planet Games</title>
    <meta name="godstix" content="Faça o download dos melhores programas e jogos para Xbox 360 RGH e PC. Links rápidos, seguros e atualizados.">
    <meta name="google-site-verification" content="iyJdVVEnnz4zBsqHvNBENPhIYNM5Dc7m2ji_L0vZ5sc" /> # Lilha de referencia para o google.
</head>
    <!-- GOOGLE ANALYTICS AQUI -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SW3JKVWY80"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-SW3JKVWY80');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planet Games - Xbox 360</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js" defer></script>
</head>

<body>

    <header class="navbar">
    <div class="logo">
        <span class="icon">🎮</span> PLANET<span class="green-text">GAMES</span>
    </div>
    <nav class="nav-links">        
        <a href="/produtos">Produto</a>
        <a href="/jogos">Jogos</a>
        <a href="#">Planos</a>
        
    </nav>
    
</header>
    <main class="hero">
        <div class="hero-left">
            <div class="badge">● ESTOQUE LIMITADO</div>
            <h1>O clássico que <br><span class="glow-text">nunca envelhece.</span></h1>
            <p class="subtitle">
                Xbox 360 revisado, testado e pronto para jogar. Reviva GTA V, Halo, Forza e centenas de clássicos com a qualidade Planet Games.                
            </p>
            <div class="hero-buttons">
            <a href="https://planet-games.onrender.com/produtos" class="btn-verde btn-ofertas" style="text-decoration: none; display: inline-flex; align-items: center; justify-content: center;">
            Ver ofertas</a>
            <a href="https://planet-games.onrender.com/jogos" class="btn-verde btn-ofertas" style="text-decoration: none; display: inline-flex; align-items: center; justify-content: center;">
            Dowload de jogos</a>
        </div>

        <div class="hero-right">
            <div class="image-container">
                <img src="{{ url_for('static', filename='fundo.jpg.png') }}" alt="Xbox 360" class="xbox-img">
            </div>
        </div>
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>