<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Jogos - Planet Games</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h2 class="titulo-pagina">Xbox 360 Games</h2>

    <!-- Container da Grid -->
    <div class="grid-jogos">
        {% for jogo in jogos %}
        <div class="card-jogo">
            <div class="capa-box">
                <img src="{{ url_for('static', filename=jogo.imagem) }}" alt="{{ jogo.titulo }}">
            </div>
            <div class="card-info">
                <h3>{{ jogo.titulo }}</h3>
                <span class="badge">{{ jogo.plataforma }}</span>
                <p class="detalhes">📦 {{ jogo.tamanho }}</p>
                <a href="{{ jogo.link }}" target="_blank" class="btn-comprar">Comprar / Baixar</a>
            </div>
        </div>
        {% endfor %}
    </div>

</body>
</html>